<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Student Page</title> 
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="form">
        <h1>Welcome!</h1>
        <a href="\show_course">View Courses</a>
        <br>
        <a href="\apply_course">Apply to Courses</a>
        <br>
        <a href="\show_job"> View Jobs</a>
        <br>
        <a href="\apply_job"> Apply for Jobs</a>
        <br>
        <a href="/"> Logout</a>
    </div>
    </body>
</html>